<div class="phone-images">
  <img ng-repeat="img in $ctrl.phone.result.photos" 
    ng-src="{{ 'https://maps.googleapis.com/maps/api/place/photo?maxheight=400&maxwidth=400&key=AIzaSyC0on6d3nbJ8amjRosKkMXElJJe_RujTlg&photoreference=' + img.photo_reference}}" 
    alt="{{$ctrl.phone.result.name}}" 
    class="phone"
    ng-class="{selected: img === $ctrl.mainImageUrl}" />
</div>

<h1>{{$ctrl.phone.result.name}}</h1>

<p>Address: {{$ctrl.phone.result.formatted_address}}</p>

<p>Phone number: {{$ctrl.phone.result.international_phone_number}}</p>

<p>Price level: {{$ctrl.phone.result.price_level}}</p>
<p>Rating: {{$ctrl.phone.result.rating}}</p>

<p>{{$ctrl.phone.result.opening_hours.open_now ? 'Open' : 'Closed'}} now</p>

<p>Url: {{$ctrl.phone.result.url}}</p>

<p>Website: {{$ctrl.phone.result.website}}</p>

<div>
  Opening hours:
  <ul>
    <li ng-repeat="period in $ctrl.phone.result.opening_hours.periods">

Open 
<span ng-if="period.open.day !== $ctrl.phone.result.opening_hours.periods[$index - 1].open.day ">
day:  {{period.open.day}}  
</span>
time:  {{period.open.time}} 

Close:
<span ng-if="period.close.day !== period.open.day">
day  {{period.close.day}} 
</span>
time:  {{period.close.time}} 
    </li>
  </ul>
</div>

<div>Types:
    <ul>
        <li ng-repeat="type in $ctrl.phone.result.types">
          {{type}},
        </li>
    </ul>
  </div>


<ul class="phone-thumbs">
  <li ng-repeat="img in $ctrl.phone.result.photos">
    <img ng-src="{{ 'https://maps.googleapis.com/maps/api/place/photo?maxheight=400&maxwidth=400&key=AIzaSyC0on6d3nbJ8amjRosKkMXElJJe_RujTlg&photoreference=' + img.photo_reference}}" alt="{{$ctrl.phone.result.name}}"  ng-click="$ctrl.setImage(img)" />
  </li>
</ul>

<div>
Reviews:
<ul>
<li ng-repeat="review in $ctrl.phone.result.reviews">
  <a href="{{review.author_url}}"><img src="{{review.profile_photo_url}}" alt="{{review.author_name}}" /></a>
  {{review.text}}
</li>


</ul>
</div>


