body {
  padding: 20px;
}

h1 {
  border-bottom: 1px solid gray;
  margin-top: 0;
} 

/* View: Places list */
.places {
  list-style: none;
}

@media screen and (min-width: 469px) and (max-width: 992px)  {  
  .places__form label {
    width: 24%;
  }

  .places__form .form-control {
    width: 75%;
    display: inline-block;
  }
}

.places__place:nth-child(odd) {
  clear: both;
}

.places__item {
  border: 1px solid #555;
  margin-bottom: 15px;
  border-radius: 10px;
  padding-left: 10px;
}

.places__item:hover {
  background: #ddd;
  cursor: pointer;
}

.places__icon {
  width: 30px;
  height: 30px;
  margin-bottom: 10px;
}

.places__types {
  display: inline;
  margin: 0;
  padding: 0;
}

.places__types li {
  list-style: none;
  display: inline-block;
  padding-bottom: 15px;
}

.places__types li:not(:last-child):after {
  content: ',';
  margin-left: -3px;
  margin-right: 5px;
}

.thumb {
  float: left;
  height: 100px;
  width: 100px;
  margin: 11px 5px 5px 0;
  border-radius: 5px;
}


/* View: Place detail */
.place {
  background-color: white;
  display: none;
  float: left;
  /* height: 400px; */
  margin-bottom: 2em;
  margin-right: 3em;
  padding: 2em;
  /* width: 400px; */
  
  width: auto;
  height: auto;
  float: none;
  max-width: 100%;
}

.place:first-child {
  display: block;
}

.place-images {
  background-color: white;
  float: left;
  height: 450px;
  overflow: hidden;
  position: relative;
  width: 450px;
}

@media screen and (max-width: 680px)  {  
  .place-images {
    float: none;
    width: auto;
    height: auto;
  }
}

.place__back {
  margin-left: 30px;
}

.place-thumbs {
  list-style: none;
  margin: 0;
}

.place-thumbs img {
  height: 100px;
  padding: 2px;
  width: 100px;
  border-radius: 10px;
}

.place-thumbs li {
  background-color: white;
  border: 1px solid black;
  cursor: pointer;
  display: inline-block;
  margin: 1em;
  border-radius: 10px;
}

.hours {
  margin-top: 70px;
}

@media screen and (max-width: 992px)  {  
  .hours {
    margin-top: 0px;
    float: left;
  } 
}

.hours ul {
  padding-left: 0;
}

.hours ul li {
  list-style: none;
}

.hours__day {
  width: 100px;
  display: inline-block;
}

.reviews {
  padding: 0;
}

.reviews li {
  list-style: none;
  clear: both;
  padding: 0;
  border: solid silver;
  border-width: 0 0 1px 0;
  min-height: 69px;
  margin-top: 13px;
}

.reviews__author {
  width: 50px;
  height: 50px;
  float: left;
  margin: 0 10px 10px 0;
}