body {
  padding: 20px;
}

h1 {
  border-bottom: 1px solid gray;
  margin-top: 0;
} 

/* View: Places list */
.places {
  list-style: none;
}

.places__place:nth-child(odd) {
  clear: both;
}

.places__item {
  border: 1px solid #555;
  margin-bottom: 15px;
  border-radius: 10px;
  padding-left: 10px;
}

.places__item:hover {
  background: #f0f0f0;
  cursor: pointer;
}

.places__icon {
  width: 30px;
  height: 30px;
}

.places__types {
  display: inline;
  margin: 0;
  padding: 0;
}

.places__types li {
  list-style: none;
  display: inline-block;
  padding-bottom: 15px;
}

.places__types li:not(:last-child):after {
  content: ',';
  margin-left: -3px;
  margin-right: 5px;
}

.thumb {
  float: left;
  height: 100px;
  width: 100px;
  margin: 11px 5px 5px 0;
  border-radius: 5px;
}


/* View: Place detail */
.place {
  background-color: white;
  display: none;
  float: left;
  height: 400px;
  margin-bottom: 2em;
  margin-right: 3em;
  padding: 2em;
  width: 400px;
}

.place:first-child {
  display: block;
}

.place-images {
  background-color: white;
  float: left;
  height: 450px;
  overflow: hidden;
  position: relative;
  width: 450px;
}

.place-thumbs {
  list-style: none;
  margin: 0;
}

.place-thumbs img {
  height: 100px;
  padding: 2px;
  width: 100px;
  border-radius: 10px;
}

.place-thumbs li {
  background-color: white;
  border: 1px solid black;
  cursor: pointer;
  display: inline-block;
  margin: 1em;
  border-radius: 10px;
}

.specs {
  clear: both;
  list-style: none;
  margin: 0;
  padding: 0;
}

.specs dt {
  font-weight: bold;
}

.specs > li {
  display: inline-block;
  vertical-align: top;
  width: 200px;
}

.specs > li > span {
  font-size: 1.2em;
  font-weight: bold;
}

.hours {
  margin-top: 70px;
}

.hours ul {
  padding-left: 0;
}

.hours ul li {
  list-style: none;
}

.hours__day {
  width: 100px;
  display: inline-block;
}

.reviews {
  padding: 0;
}

.reviews li {
  list-style: none;
  clear: both;
  padding: 0;
  border: solid silver;
  border-width: 0 0 1px 0;
  min-height: 69px;
  margin-top: 13px;
}

.reviews__author {
  width: 50px;
  height: 50px;
  float: left;
  margin: 0 10px 10px 0;
}