<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h2>Pubs and restaurants nearby: {{$ctrl.address.results[0].formatted_address}}</h2> 
    </div>
    <div class="col-md-3">
      <!--Sidebar content-->
      <form>
        <div class="form-group">
          <label for="typeField">Type:</label>

          <select ng-model="$ctrl.typeProp" class="form-control" id="typeField" ng-change="$ctrl.updateResults()">
            <option value="restaurant|bar">Pubs and restaurants</option>
            <option value="bar">Pubs</option>
            <option value="restaurant">Restaurants</option>
          </select>
        </div>

        <div class="checkbox">
          <label>
              <input type="checkbox" ng-model="$ctrl.openProp" ng-change="$ctrl.updateResults()" /> <strong>Open now</strong>
          </label>
        </div>

        <div class="form-group">
            <label for="searchField">Search:</label>
            <input ng-model="$ctrl.query" class="form-control" id="searchField" />
        </div>

        <div class="form-group">
            <label for="sortByField">Sort by:</label>
            <select ng-model="$ctrl.orderProp" class="form-control" id="sortByField" ng-change="$ctrl.updateResults()">
              <option value="prominence">Importance</option>
              <option value="distance">Distance</option>
            </select>
        </div>
      </form>
    </div>
    <div class="col-md-9">
      <!--Body content-->

      <div class="places">
        <div class="row">
        
          <div ng-repeat="place in $ctrl.places.results | filter:$ctrl.query" class="col-sm-6 places__place" ng-click="$ctrl.go('places/' + place.place_id)">
            <div class="places__item">
              <img ng-src="{{$ctrl.getImage(place.photos[0].photo_reference)}}" alt="{{place.name}}" class="thumb" />
              <h4><img ng-src="{{place.icon}}" alt="{{place.name}}" class="places__icon" /> {{place.name}}</h4>
              <p>{{place.opening_hours.open_now ? 'Open' : 'Closed'}} now</p>
              <p>Price level: {{place.price_level}} &nbsp; | &nbsp;  Rating: {{place.rating}}</p>
              <p>Address: {{place.vicinity}}</p>
              <div>Types:
                <ul class="places__types">
                    <li ng-repeat="type in place.types">
                      {{type}}
                    </li>
                </ul>
              </div>
            </div>
          </div>

        </div>
      </div>  

      <a href="#" class="pull-right" ng-click="$ctrl.loadNextPage($ctrl.places.next_page_token)">Next page &raquo;</a>
    </div>
  </div>
</div>
